@charset "UTF-8";
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --color-primary-dark: #31261a;
  --color-secondary-dark: #a18268;
  --color-primary-light: #faf4ea;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: inline-block;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* .main-titel {
  border: 4px solid black;
}
#chefs-section {
  border: 3px solid black;
}
[type="button"] {
  border: 5px solid green;
}

.main-section {
  color: blue;
}
.main-section > h1 {
  background-color: antiquewhite;
}*/
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.button {
  color: var(--color-primary-light);
  background: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  font-weight: 600;
}

.button:disabled {
  color: gray;
  background-color: lightgray;
  border-color: currentColor;
}

/* .button:focus {
  color: blue;
  background-color: green;
}
.button:active {
  background-color: brown;
} */
.button[type] {
  color: orange;
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand-normal);
  /* font-weight: 600; */
}

.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../images/hero-section-background.jpg");
  background-repeat: no-repeat; /*repeat-x / repeat-y - не повторять или повторять по определенной оси*/
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
  /* font-style: italic; */
  /* text-shadow: 2px 2px 4px violet; */
  /* letter-spacing: 5px; */
}

.hero-title .accent {
  color: var(--color-brand-dark);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}

.header__conteiner {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0;
}

.advantages-list {
  color: var(--color-primary-light);
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  font-size: 20;
  font-weight: 300;
}

.container {
  width: 100%; /*При изменении окна файт не будет менять пропорционально*/
  max-width: 1288px; /*Максимальная ширина сайта*/
  margin: 0 auto;
  padding: 24px;
}

.section {
  padding: 48px 0;
}

.section-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centred {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text span {
  color: var(--color-brand-normal);
  font-weight: 600;
}

/* .traditions-text:last-child { */
.traditions-text.limited {
  max-width: 340px;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

.chefs-title {
  /* max-width: 520px; */
  margin: 0 auto 80px;
  position: relative;
}

.chefs-title::before,
.chefs-title::after {
  /* display: block; */
  width: 352px;
  content: "";
  border: 2px solid var(--color-brand-light);
  position: absolute;
  bottom: 24px;
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chef-title {
  margin-bottom: 16px; /*remove*/
  font-size: 40px;
  font-weight: 600;
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;
  fill: var(--color-primary-dark);
  flex-shrink: 0;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(0.5turn);
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  border-radius: 16px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  transition: transform 0.5s;
  padding: 10px;
}

.format-card:hover {
  transform: scale(1.05);
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

/* .walrus {
  background-image: url("../images/walrus-format.jpg");
} */
.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.contacts-section {
  padding-bottom: 96px;
}

.contacts-title {
  margin-bottom: 16px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu,
.adress-list {
  flex-grow: 1;
}

.footer {
  background-image: url("../images/footer-backgraund.png");
  background-color: var(--color-primary-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px 0;
  position: relative;
}

.footer::before,
.footer::after {
  position: absolute;
  background-repeat: no-repeat;
  content: "";
  bottom: 0;
}

.footer::before {
  width: 180px;
  height: 120px;
  background-image: url("../images/decor-bread-small.png");
  left: 0;
}

.footer::after {
  width: 380px;
  height: 190px;
  background-image: url("../images/decor-bread-big.png");
  right: 0;
}

address {
  font-style: normal;
}

.address-info {
  flex-grow: 1;
}

.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-brand-normal);
}

.adress-copyright {
  font-size: 14px;
  /* color: #cfcfbc; */
}

.adress-icon {
  fill: var(--color-primary-light);
}

.adress-icon:hover {
  fill: var(--color-brand-normal);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  transition: opacity 0.5s, visibility 0.5s;
}

.backdrop.is-hidden {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 128px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  right: 40px;
  top: 40px;
}

.form-label {
  position: absolute;
  left: 42px;
  top: 16px;
}

/* .form-field:focus-within .form-label {
  transform: translate(-36px, -40px);
} */
.form-input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}

.form-field {
  position: relative;
  margin-bottom: 32px;
}

.form-input:disabled {
  border-color: lightgray;
}

.form-input:disabled::-moz-placeholder {
  color: lightgray;
}

.form-input:disabled::placeholder {
  color: lightgray;
}

.form-input::-moz-placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::-moz-placeholder {
  color: var(--color-primary-dark);
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  margin: 0 auto 24px;
  display: block;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.form-terms-links {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}

.brand.uppercase {
  text-transform: uppercase;
}

.test-box {
  /*линейный, но есть еще радиальный/круговой radial-gradient*/
  background-image: linear-gradient(to left gold 50%, green 70%, blue 100%); /*Градиент указанных цветов, до 50% т.е. до полоивны будет золотой, до 70 зеленый и до конца будет синий*/
}/*# sourceMappingURL=main.css.map */