/* * {
  box-sizing: border-box;
} */

.box {
  display: inline-block; /* none - invisible, inline, block, inline-block*/
  width: 100px;
  height: 100px;
  background-color: burlywood;
  padding: 10px;
  border: 6px solid darkblue;
  border-radius: 10px;
  /* margin: 10px 15px 20px 25px; по часовой стрелке top right bottom left */
  margin: auto;
  .box:last-child /*последний в списке*/
  .box:first-child /*первый в списке*/
  .box:nth-child(odd) /*нечетный, even - четный*/
  .box:first-child(n+3) /*для всех с 0 + 3 элемента по индексу*/
  .box:nth-child(3n + 4) /*каждый 3ий элемент списка начиная с (0 + 4)-го элемента по индексу*/

}
