.button {
  color: var(--color-primary-light);
  background: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  font-weight: 600;
}

.button:disabled {
  color: gray;
  background-color: lightgray;
  border-color: currentColor;
}
/* .button:focus {
  color: blue;
  background-color: green;
}
.button:active {
  background-color: brown;
} */
.button[type] {
  color: orange;
}
