.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url("../images/hero-section-background.jpg");
  background-repeat: no-repeat; /*repeat-x / repeat-y - не повторять или повторять по определенной оси*/
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
  /* font-style: italic; */
  /* text-shadow: 2px 2px 4px violet; */
  /* letter-spacing: 5px; */
}

.hero-title .accent {
  color: var(--color-brand-dark);
}
