.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0;
}

.advantages-list {
  color: var(--color-primary-light);
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  font-size: 20;
  font-weight: 300;
}
