.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;
  fill: var(--color-primary-dark);
  flex-shrink: 0;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(0.5turn);
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  transition: transform 0.5s;
  padding: 10px;
}

.format-card:hover {
  transform: scale(1.05);
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

/* .walrus {
  background-image: url("../images/walrus-format.jpg");
} */

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}
