.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  transition: opacity 0.5s, visibility 0.5s;
}

.backdrop.is-hidden {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 128px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  right: 40px;
  top: 40px;
}
