.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text span {
  color: var(--color-brand-normal);
  font-weight: 600;
}

/* .traditions-text:last-child { */
.traditions-text.limited {
  max-width: 340px;
}
